html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
}

canvas {
  display: block;
}

input{
  -webkit-appearance: none;
  width: 30%;
  margin: 55px 1.5% 10px 1.5%;
  height: 25px;
  background: whitesmoke;
  border-radius: 100px;
  outline: none;
  opacity: .8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
input:hover {
  opacity: 1;
  cursor: grab;
}

input:active {
  cursor: grabbing
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 200px;
  width: 25px;
  height: 25px;
  background: rgb(33, 175, 194);
}

input::-moz-range-thumb {
  width: 25px;
  border-radius: 200px;
  height: 25px;
  background: rgb(33, 175, 194);
}


input.cohesion::before{
  content: "Adjust the parameters below to affect the simulation";
  display: block;
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100vw;
  text-align: center;
  height: fit-content;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .01em;
  font-family: 'Segoe UI';
  color: white;
  opacity: 1;
}


input::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  width: 30%;
  text-align: center;
  color: white;
}

input.align::after {
  content: "Alignment Slider";
  
}
input.cohesion::after {
  content: "Cohesion Slider";
}

input.avoidance::after {
  content: "Avoidance Slider";
}
